<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= essay.title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('sidebar.ejs') %>

    <div class="content">
        <h1><%= essay.title %></h1>
        <hr/>
        <p class="essay-text"><%= essay.content %></p>
    </div>
</body>
</html>
