<div class="sidebar">
    <div class="logo">
    </div>
    <hr>
    <ul class="list-group">
        <li><a href="/" class="nav-link">Home</a></li>
        <li><a href="/Essays" class="nav-link">Essays</a></li>
        <li><a href="/faq" class="nav-link">FAQs</a></li>
        <li><a href="/quotes" class="nav-link">Quotes</a></li>
        <li><a href="/contact" class="nav-link">Contact</a></li>
    </ul>
    <div class="dropdown">
        <a href="" class="nav-link"></a>
        <div class="dropdown-menu">
            <a href="/new" class="nav-link">New Essay</a>
            <hr>
        </div>
    </div>
</div>